<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nlp Classifier</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="padding-top: 5rem;">

  <!--Nav Bar -->

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">NLP Classifier</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gener">Predict Gener</a>
          </li>
        </ul>
      
      </div>
    </nav>


<!-- Nav End-->
 <div class="text-center" style="margin: 0;padding: 1px">
      <h3><b>Spam / Not Spam Classifier</b></h3>
       <span class="text-muted" style=" color:white;"><a href="https://github.com/pratyusa98" target="_blank"> © By Pratyusa Dwibedy 2020 </a> </span> <hr>
    </div>
  
<div class="container">
  <div class="row">
  
    <div class="col-sm-6">
       <form action="/spampredict" method="post">
            <div class="form-group" >
              <label for="exampleFormControlTextarea1">Enter Your text To predict Spam Or Not</label>
              <textarea class="form-control" name='spam' id="spam" rows="8"></textarea>
            </div>
            <input type="submit" class="btn btn-success" value="Predict Spam Or Not">
          </form>
    </div>
    <div class="col-sm-6" style="margin-bottom: 80px">
        <h3>Results : </h3> <hr>
          <p><span style="font-size: 15px;">{{ msg }}</span></p> <hr>
          
          <div class="results">
            {% if pred== 'spam' %}
              <h3>Prediction:<br> <span style="color: red;font-weight: bold;">This Text Is Spam.</span></h3>
              {% elif pred== 'ham' %}
              <h3>Prediction:<br> <span class='safe' style="color: green">This Is Not Spam Text.</span></h3>
            {% endif %}
          </div>
          
    </div>
  </div>
</div>

</body>
</html>
